.col-1{
background-color: lightskyblue;





}
h1{
	text-align: center;
}

.col-2{
background-color: lightskyblue;

}
.col-3{
background-color: lightskyblue;

}
.col-4{
background-color: lightskyblue;

}
.col-5{
background-color: lightskyblue;

}
.col-6{
background-color: lightskyblue;

}
.col-7{
background-color: lightskyblue;

}
.col-8{
background-color: lightskyblue;

}
.col-9{
background-color: lightskyblue;
}
.col-10{
background-color: lightskyblue;

}.col-11{
background-color: lightskyblue;

}.col-12{
background-color: lightskyblue;

}
